<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <% if (post.layout != 'page') { %>
            <div class="article-meta">
                <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
		<%- partial('post/author') %>
                <%- partial('post/tag') %>
                <!---cloud阅读量统计系统-->
                阅读数量:<span id="<%= url_for(post.path) %>" class="leancloud_visitors" data-flag-title="<%- post.title %>"></span>次
            </div>
        <% } %>
        <%- partial('post/gallery') %>
        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>
    </div>
</article>
<!--<%- partial('comment/index') %>-->
<!--来比力评论系统，在commetn/livebe.ejs中-->
<%- partial('comment/livebe') %>
